@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 968px;
  margin: 0 auto;
  min-height: 100%;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: white;
}

.ql-editor {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 120px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: white;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #F6F6F6 !important;
  color: #374151 !important;
  overflow: visible;
}

.ql-toolbar {
  display: block;
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

pre.ql-syntax {
  background-color: #F6F6F6;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

/* Floating Input 자동 완성 배경색 방지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

p ol {
  list-style: decimal inside;
  margin-left: 1rem;
}

p ul {
  list-style: disc inside;
  margin-left: 1rem;
}

code {
  color: #EB5757 !important;
  background: #ededeb;
  padding: 2px 4px;
  font-size: 95%;
  border-radius: 4px;
}

p a {
  color: #3B82F6;
  text-decoration: underline;
}