ul.pagination {
  display: inline-flex;
  margin-left: -1px;
  height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

ul.pagination li a {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: #D1D5DB;
  height: 2rem;
  line-height: 1.25;
  color: #6B7280;
  background-color: #ffffff;
}

ul.pagination li a.active-link  {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: #D1D5DB;
  height: 2rem;
  color: #2563EB;
  background-color: #EFF6FF;
}

ul.pagination li a.active-link:hover {
  color: #1D4ED8;
  background-color: #DBEAFE;
}

ul.pagination li a:hover {
  color: #374151;
  background-color: #F3F4F6;
}

ul.pagination li:first-child a {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-width: 1px;
  border-color: #D1D5DB;
  height: 2rem;
  line-height: 1.25;
  color: #6B7280;
  background-color: #ffffff;
}

ul.pagination li:first-child a:hover {
  color: #374151;
  background-color: #F3F4F6;
}

ul.pagination li:last-child a {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-width: 1px;
  border-color: #D1D5DB;
  height: 2rem;
  line-height: 1.25;
  color: #6B7280;
  background-color: #ffffff;
}

ul.pagination li:last-child a:hover {
  color: #374151;
  background-color: #F3F4F6;
}
